{% trans_default_domain 'FOSUserBundle' %}

<div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(images/emaarouf.jpg);">
                    <span class="login100-form-title-1">
                        s'identifier
                    </span>
                </div>

                {% if error %}
                    <div class="alert alert-danger" style="margin: 5px 5px">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post" class="login100-form validate-form">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">{{ 'security.login.username'|trans }}</span>
                        <input class="input100" type="text" name="_username" placeholder="{{ 'security.login.username'|trans }}" value="{{ last_username }}">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                        <span class="label-input100">{{ 'security.login.password'|trans }}</span>
                        <input class="input100" type="password" name="_password" placeholder="{{ 'security.login.password'|trans }}">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-30">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="_remember_me" value="on">
                            <label class="label-checkbox100" for="ckb1">
                                {{ 'security.login.remember_me'|trans }}
                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
                                Forgot Password?
                            </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            {{ 'security.login.submit'|trans }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
