{% extends 'base.html.twig' %}

{% block title %}Hello ibbrahim{% endblock %}

{% block body %}
         <div class="super_container">
          
          {{include('layouts/_info.html.twig')}}
          {{include('layouts/_cta.html.twig')}}
          {{include('layouts/_service.html.twig')}}
          {{include('layouts/_departement.html.twig')}}
          {{include('layouts/_new.html.twig')}}
        
       </div>
{% endblock %}
